# Build output
**/target/

# Lock files
/rust_code_obfuscator_core/Cargo.lock

# Executables and binaries
*.exe
*.dll
*.so
*.dylib

# IDEs and editors
.idea/
.vscode/
*.sw?
*.suo
*.user
*.RSUSER
*.ncb
*.VC.db
*.VC.opendb

# MacOS
.DS_Store

# Logs
*.log

# Coverage
/coverage/
*.lcov

# Obfuscator output
/test_outputs/
out/
